@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
:root {
    --primary-color: #011627;
    --secondary-color: #edf6f9;
    --hover-color: #e77a52;
    --get-started-background-color: #ffddd2;
    --get-started-color: rgb(44, 40, 40);
    --form-hover-color: #47d2df;
}

/*reset-css*/

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    padding-top: 80px;
    scroll-padding-top: 100px;
    color: var(--secondary-color);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}
/*reset-css end*/

/*nav-bar*/

#nav-bar {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    padding-bottom: 1rem;
}

#nav-bar img {
    width: 250px;
    height: 50px;
    margin-left: 2rem;
}

#nav-bar .nav-items {
    display: flex;
    margin-right: 2rem;
}

.nav-item {
    padding: .7rem 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
}

.nav-item:hover {
    color: var(--hover-color);
    transform: scale(.95);
    transition: ease .3s;
}

.nav-item:last-child {
    background-color: var(--get-started-background-color);
    font-family: 'Convergence', sans-serif;
    color: var(--get-started-color);
    border-radius: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav-item:last-child:hover {
    background-color: var(--hover-color);
    color: var(--get-started-color);
    cursor: pointer;
}
.nav-item:last-child a:hover {
    color: var(--get-started-color);
}

/*nav-bar end*/

/*get-started*/

#get_started-section {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    align-items: start;
    justify-items: center;
}

#get_started-section iframe {
    margin: 2rem;
}

.section {
    height: 100vh;
}

.vl {
    border-left: 2px solid var(--secondary-color);
    height: 350px;
    border-radius: 50px;
}

.get-started-desc .intro {    
    padding: 3rem;
}

.get-started-desc form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    justify-content: flex-start;
}

.intro h1 {
    padding: 0 3rem;
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.8rem;
    padding: 0 3rem;
    text-align: justify;
}

#form input[type=email] {
    width: 30rem;
    height: 2rem;
    font-family: 'Convergence', sans-serif;
    font-size: 1.8rem;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    outline: none;
    background: none;
    color: var(--secondary-color);
    margin: 1rem;
    padding: .7rem;
}

#form input[type=email]::placeholder {
    color: var(--secondary-color);
}

 
#form input[type=email]:focus, 
#form input[type=email]:hover
 {
    border-color: var(--form-hover-color);
    color: #e77a52;
    transition: all ease .3s;
}

#form input[type=email]:hover::placeholder, 
#form input[type=email]:focus::placeholder {
    color: var(--hover-color);
    transition: all ease .3s;
}

#form input[type=submit] {
    border: 2px solid var(--form-hover-color);
    border-radius: .5rem;
    background: none;
    color: var(--hover-color);
    font-family: 'Convergence', sans-serif;
    font-size: 1.8rem;
    padding: .7rem;
    margin: 1rem;
    cursor: pointer;
}

#form input[type=submit]:hover {
    border-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: all ease .3s;    
}

/*get-started end*/

/*products-section*/

#basketballs-section {
    margin-top: -12rem;
}

.product-section {
    
}

.product-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin: 0 2rem;
    padding: 0 2rem;
}

.product-item {
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
}

.product-item-img {
    width: 100%;
}

.product-item-img img {
    width: 100%;
    object-fit: contain;
}

.product-item-desc {

}

.product-item-desc .product-title {
    
}

.product-item-desc .product-price {

}

.product-item .buy-btn {

}

/*products-section end*/

main {
    font-size: 1.6rem;
}

footer {
    font-size: 1.8rem;
}

/*Media queries*/

@media only screen and (max-width: 1200px) {
    /*nav-bar*/
    
    .nav-item {
        padding: .7rem 1rem;
        font-weight: 600;
        font-size: 1.7rem;
        letter-spacing: 1px;
    }

    .nav-item:last-child {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /*nav-bar end*/

    /*get-started-section*/

    #get_started-section iframe {
        width: 90%;
        height: 60%;
        margin: -1rem;
    }

    .get-started-desc .intro {    
        padding: 0 3rem;
    }

    #form input[type=email] {
        width: 50%;
        margin: 2rem 1rem 0 calc(1rem - 2px);
    }

    #form input[type=submit] {
        margin: 2rem 1rem 3rem 0;
    }

    .intro h1 {
        margin-top: 0;
    }    

    /*get-started-section end*/

}

@media only screen and (max-width: 1024px) {
    /*nav-bar*/

    #nav-bar {
        padding-top: 1rem;
        height: 100px;
        flex-direction: column;
    }
    
    .nav-item {
        padding: .7rem 1rem;
        font-weight: 600;
        font-size: 1.7rem;
        letter-spacing: 1px;
    }

    /*nav-bar end*/

    /*get-started-section*/

    .get-started-desc .intro {    
        padding: 0;
    }   
        
    /*get-started-section end*/

}

@media only screen and (max-width: 767px) {
    /*nav-bar*/

    #nav-bar {
        flex-direction: column;
        height: 150px;
        justify-content: space-evenly;
    }

    #nav-bar img {
        margin-left: 0;
    }

    #nav-bar .nav-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .nav-item {
        font-size: 1.8rem;
    }

    /*nav-bar end*/

    /*get-started-section*/
 
    #get_started-section {
        margin-top: 2rem;
    }

    #get_started-section iframe {
        width: 90%;
        height: 60%;
    }

    .intro {
        width: 100%;
    }

    .intro h1 {
        text-align: center;
        font-size: 2rem;
        padding: 0 2rem;
    }

    .intro p {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0;
    }

    #form input[type=submit] {
        margin-top: 1rem;
    }

    .get-started-desc form {
        justify-content: center;
    }  

    #form input[type=email] {
        width: 21rem;
        margin: 2rem 1rem 0 -1rem;
    }

    /*get-started-section end*/
}

@media only screen and (max-width: 520px) {
    /*nav-bar*/

    #nav-bar {
        height: 220px;
        border-bottom: 2px solid var(--secondary-color);

    }

    #nav-bar .nav-items {
        flex-direction: column;
    }

    .nav-item {
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-item:last-child {
        display: none;
    }

    /*nav-bar end*/

    /*get-started-section*/

    .vl {
        display: none;
    } 

    #get_started-section {
        grid-template-columns: 1fr;
        grid-template-rows: 70vh 70vh;
        align-items: center;
        justify-items: center;
    }
    
    .get-started-desc {
        order: -1;
    }

    #get_started-section iframe {
        margin: 3rem;
    }
    
    .intro h1 {
        margin-top: 0;
        padding: 9rem 3rem 0 2rem;
        font-size: 2.5rem;
    }

    .intro p {
        margin-top: -1rem;
    }
    
    #form input[type=email] {
        width: 25rem;
        margin-left: -1rem;
        margin-top: 1rem;
    }
    
    #form input[type=submit] {
        margin-top: 1rem;
    }

    /*get-started-section end*/

}

@media only screen and (max-width: 350px) {

    .intro h1 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.6rem;
    }

    #form input[type=submit] {
        margin-top: 1rem;
    }
}


